<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="container">
     
      <h1>Leaderboard1 </h1>
      <div data="leaderboardData" class="ng-isolate-scope leaderboard">
        <ul data-mipqa="leaderboard-rows">
          <!-- ngRepeat: elm in data --><li class="element   userposition-1" ng-repeat="elm in data" data-mipqa="leaderboard-rows-1">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">1</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placekitten.com/g/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placekitten.com/g/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente1
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">234567</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-2" ng-repeat="elm in data" data-mipqa="leaderboard-rows-2">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">2</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                     <div class="img-avatar small">
                        <img src="http://placekitten.com/g/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placekitten.com/g/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente2
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">7936</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-3" ng-repeat="elm in data" data-mipqa="leaderboard-rows-3">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">3</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                     <div class="img-avatar small">
                        <img src="http://placekitten.com/g/50/50">
                     </div>

                      <div class="img-avatar big">
                        <img src="http://placekitten.com/g/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente3
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">7052</p>
                      </div>
                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-4" ng-repeat="elm in data" data-mipqa="leaderboard-rows-4">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">4</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                     <div class="img-avatar small">
                        <img src="http://placekitten.com/g/50/50">
                     </div>

                      <div class="img-avatar big">
                        <img src="http://placekitten.com/g/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente4
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">4092</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-5" ng-repeat="elm in data" data-mipqa="leaderboard-rows-5">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">5</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placekitten.com/g/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placekitten.com/g/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente5
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">4044</p>
                      </div>

                  </div>    
              </div>    
          </li>
          <li class="element   userposition-6" ng-repeat="elm in data" data-mipqa="leaderboard-rows-6">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">6</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placekitten.com/g/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placekitten.com/g/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente6
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">2530</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data -->
      </ul></div>




      <h1>Leaderboard2 </h1>
      <div data="leaderboardData" class="ng-isolate-scope leaderboard-b">
        <ul data-mipqa="leaderboard-rows">
          <!-- ngRepeat: elm in data --><li class="element   userposition-1" ng-repeat="elm in data" data-mipqa="leaderboard-rows-1">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">1</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placebear.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placebear.com/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente1
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">234567</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-2" ng-repeat="elm in data" data-mipqa="leaderboard-rows-2">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">2</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placebear.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placebear.com/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente2
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">7936</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-3" ng-repeat="elm in data" data-mipqa="leaderboard-rows-3">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">3</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placebear.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placebear.com/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente3
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">7052</p>
                      </div>
                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-4" ng-repeat="elm in data" data-mipqa="leaderboard-rows-4">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">4</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placebear.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placebear.com/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente4
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">4092</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-5" ng-repeat="elm in data" data-mipqa="leaderboard-rows-5">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">5</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placebear.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placebear.com/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente5
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">4044</p>
                      </div>

                  </div>    
              </div>    
          </li>
          <li class="element   userposition-6" ng-repeat="elm in data" data-mipqa="leaderboard-rows-6">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">6</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://placebear.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://placebear.com/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente6
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">2530</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data -->
      </ul></div>


      <h1>Leaderboard3 </h1>
      <div data="leaderboardData" class="ng-isolate-scope leaderboard-c">
        <ul data-mipqa="leaderboard-rows">
          <!-- ngRepeat: elm in data --><li class="element   userposition-1" ng-repeat="elm in data" data-mipqa="leaderboard-rows-1">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">1</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://baconmockup.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://baconmockup.com/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente1
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">234567</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-2" ng-repeat="elm in data" data-mipqa="leaderboard-rows-2">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">2</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://baconmockup.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://baconmockup.com/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente2
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">7936</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-3" ng-repeat="elm in data" data-mipqa="leaderboard-rows-3">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">3</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://baconmockup.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://baconmockup.com/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente3
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">7052</p>
                      </div>
                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-4" ng-repeat="elm in data" data-mipqa="leaderboard-rows-4">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">4</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://baconmockup.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://baconmockup.com/70/70">
                      </div>


                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente4
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">4092</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data --><li class="element   userposition-5" ng-repeat="elm in data" data-mipqa="leaderboard-rows-5">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">5</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://baconmockup.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://baconmockup.com/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente5
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">4044</p>
                      </div>

                  </div>    
              </div>    
          </li>
          <li class="element   userposition-6" ng-repeat="elm in data" data-mipqa="leaderboard-rows-6">
            <div class="rank col-xs-3 col-sm-3"><span class="ng-binding">6</span></div>
              <div class="col-xs-9 col-sm-9 user-box">

                  <div class="leaderboard-center">

                      <div class="img-avatar small">
                        <img src="http://baconmockup.com/50/50">
                      </div>

                      <div class="img-avatar big">
                        <img src="http://baconmockup.com/70/70">
                      </div>

                      <div class="data-user">
                          <h4 ng-hide="elm.me" data-mipqa="leaderboard-nickname" class="ng-binding">
                              Utente6
                          </h4>        
                        <p data-mipqa="leaderboard-score" class="ng-binding">2530</p>
                      </div>

                  </div>    
              </div>    
          </li><!-- end ngRepeat: elm in data -->
      </ul></div>

      <h1>LOADER</h1>

    <div id="spinner">
      <div id="isAppLoaded" class="spinner pageLoader">
        <div class="blockG" id="rotateG_1"></div>
        <div class="blockG" id="rotateG_2"></div>
        <div class="blockG" id="rotateG_3"></div>
        <div class="blockG" id="rotateG_4"></div>
        <div class="blockG" id="rotateG_5"></div>
        <div class="blockG" id="rotateG_6"></div>
        <div class="blockG" id="rotateG_7"></div>
        <div class="blockG" id="rotateG_8"></div>
      </div>
    </div>        


</div>


    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>


        <!-- build:js scripts/main.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbuild -->
</body>
</html>
